{% extends 'ecommerce_app/base.html' %}

{% block head %}
    <title>Create Business</title>
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="input_form">
        <h1>Create Business</h1>
        <br>
        
        <form method="POST" enctype="multipart/form-data" class="input_form">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-outline-success">Create</button>
        </form>
    </div>
{% endblock %}