{% extends 'ecommerce_app/base.html' %}

{% block head %}
    <title>Create Business</title>
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="profile_page">
        <div class="profile_menu">
            <a href="{% url 'profile' %}">Your details</a>
            <a href="{% url 'profileWishlist' %}">Your wishlist</a>
            <a href="{% url 'profileOrders' %}">Your orders</a>
            {% if user.userprofile.business %}
                <a href="#">Your business</a>
            {% else %}
                <a href="{% url 'business-create' %}" class="active">Become a seller</a>
            {% endif %}
        </div>
        <div class="profile_content" style="place-self: center;">
            <div class="input_form">
                <form method="POST" enctype="multipart/form-data" class="input_form">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Create Business</legend>
                        {{ form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button type="submit" class="btn btn-outline-success">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- <div class="page_content">
        <div class="input_form">
            <form method="POST" enctype="multipart/form-data" class="input_form">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Create Business</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button type="submit" class="btn btn-outline-success">Create</button>
                </div>
            </form>
        </div>
    </div> -->
{% endblock %}