{% extends 'ecommerce_app/base.html' %}

{% block head %}
    <title>{{ user.username }}</title>
{% endblock %}

{% block content %}
    <h1>Welcome back {{ user.first_name }} {{ user.last_name }}</h1>
    <h3>Your email is {{ user.email }}</h3>
    <h3>Your username is {{ user.username }}</h3>
    <hr>
    <h3>Your business is {{ user.userprofile.business.name }}</h3>
    <a href="{% url 'business-create' %}"><input type="button" value="Create Business"></a>
    {% if user.userprofile.business %}
        <a href="{% url 'business-delete' %}"><input type="button" value="Delete Business"></a>
    {% endif %}
    <hr>
    <h3>Your wishlist</h3>
    <ul>
        {% for product in user.userprofile.wishlist.all %}
            <li>{{ product.name }}</li>
        {% endfor %}
    </ul>
{% endblock %}