{% extends 'ecommerce_app/base.html' %}

{% block head %}
    <title>Profile</title>
{% endblock %}

{% block content %}
    <div class="profile_page">
        <div class="profile_menu">
            <a href="{% url 'profile' %}" class="active">Your details</a>
            <a href="{% url 'profileWishlist' %}">Your wishlist</a>
            <a href="{% url 'profileOrders' %}">Your orders</a>
            {% if user.userprofile.business %}
                <a href="#">Your business</a>
            {% endif %}
        </div>
        <div class="profile_content">
            <h1>Welcome back {{ user.first_name }} {{ user.last_name }}</h1>
            <h3>Your email is {{ user.email }}</h3>
            <h3>Your username is {{ user.username }}</h3>
            <hr>
            <button type="button" onclick="location.href='{% url 'profileEdit' %}'">Edit</button>
            <hr>
            <h3>Your business is {{ user.userprofile.business.name }}</h3>
            <a href="{% url 'business-create' %}"><input type="button" value="Create Business"></a>
            {% if user.userprofile.business %}
                <a href="{% url 'business-delete' %}"><input type="button" value="Delete Business"></a>
            {% endif %}
        </div>
    </div>
{% endblock %}