{% extends 'ecommerce_app/base.html' %}

{% block head %}
    <title>Wishlist</title>
{% endblock %}

{% block content %}
    <div class="profile_page">
        <div class="profile_menu">
            <a href="{% url 'profile' %}">Your details</a>
            <a href="{% url 'profileWishlist' %}" class="active">Your wishlist</a>
            <a href="{% url 'profileOrders' %}">Your orders</a>
            {% if user.userprofile.business %}
                <a href="{% url 'businessProfile' %}">Your business</a>
            {% else %}
                <a href="{% url 'business-create' %}">Become a seller</a>
            {% endif %}
        </div>
        <div class="profile_content">
            <h3>Your wishlist</h3>
            <br>
            <div class="productLineView">
                {% if wishlist.count == 0 %}
                    <p>You don't have any products in your wishlist yet.</p>
                {% else %}
                    {% for product in wishlist.all %}
                        <div class="productLine" onclick="window.location.href='{% url 'product_detail' product.id %}'">
                            <div class="lineImage">
                                <img src="{{ product.image }}" alt="">
                            </div>
                            <div class="lineInfo">
                                <h5>{{ product.name }}</h5>
                                <p>{{ product.shortened_description }}</p>
                            </div>
                            <div class="lineActions">
                                {% if product in request.user.userprofile.wishlist.all %}
                                    <a href="{% url 'toggleWishlist' product.id %}"><i class="fa-solid fa-heart wishlistIcon"></i></a>
                                {% else %}
                                    <a href="{% url 'toggleWishlist' product.id %}"><i class="fa-regular fa-heart wishlistIcon regularWishlistIcon"></i></a>
                                {% endif %}
                                <a href="{% url 'addToCart' product.id %}"><i class="fa-solid fa-cart-arrow-down"></i></a>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    {% if messages %}
        {% for message in messages %}
            <script>
                alert('{{ message }}')
            </script>
        {% endfor %}
    {% endif %}
{% endblock %}