{% extends 'ecommerce_app/base.html' %}

{% block head %}
    <title>Profile</title>
{% endblock %}

{% block content %}
    <div class="profile_page">
        <div class="profile_menu">
            <a href="{% url 'profile' %}" class="active">Your details</a>
            <a href="{% url 'profileWishlist' %}">Your wishlist</a>
            <a href="{% url 'profileOrders' %}">Your orders</a>
            {% if user.userprofile.business %}
                <a href="#">Your business</a>
            {% else %}
                <a href="{% url 'business-create' %}">Become a seller</a>
            {% endif %}
        </div>
        <div class="profile_content">
            <div class="welcomeProfile">
                <h2>Welcome back, {{ user.first_name }} : )</h2>
                <button type="button" class="btn btn-outline-dark" onclick="location.href='{% url 'profileEdit' %}'"></a>Edit</button>
            </div>
            
            <hr>
            <p>Below you will find your personal details, you have provided to us. If you would like to edit any of them, you can do that by clicking on the respective button in the top-right corner</p>
            <hr>
            <p><strong>Your email:</strong> {{ user.email }}</p>
            <p><strong>Your username name:</strong> {{ user.username }}</p>
            <p><strong>Your full name:</strong> {{ user.first_name }} {{ user.last_name }}</p>
            <hr>
            <p>You can also edit details used during the payment, by navigating to our partner's <strong><a href="{% url 'customerPortal' %}" method="POST">customer portal</a></strong></p>
        </div>
    </div>
{% endblock %}