{% extends 'ecommerce_app/base.html' %}

{% block head %}
    <title>Cart</title>
{% endblock %}

{% block content %}
    <div class="cart_bg"></div>
    <div class="page_content">
        <h2>Your cart</h2>
        <br>
        <div class="productLineView">
            {% if wishlist.count == 0 %}
                <p>You don't have any products in your wishlist yet.</p>
            {% else %}
                {% for product in request.user.userprofile.cart.all %}
                    <div class="productLine" onclick="window.location.href='{% url 'product_detail' product.id %}'">
                        <div class="lineImage">
                            <img src="{{ product.image }}" alt="">
                        </div>
                        <div class="lineInfo">
                            <h5>{{ product.name }}</h5>
                            <p>{{ product.shortened_description }}</p>
                        </div>
                        <div class="linePrice">
                            <h6>{{ product.price }}&euro;</h6>
                        </div>
                        <div class="lineActions">
                            {% if product in request.user.userprofile.wishlist.all %}
                                <a href="{% url 'toggleWishlist' product.id %}"><i class="fa-solid fa-heart wishlistIcon"></i></a>
                            {% else %}
                                <a href="{% url 'toggleWishlist' product.id %}"><i class="fa-regular fa-heart wishlistIcon regularWishlistIcon"></i></a>
                            {% endif %}
                            <a href="{% url 'addToCart' product.id %}"><i class="fa-solid fa-cart-arrow-down"></i></a>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <br>
        {% if request.user.userprofile.cart.all %}
            <div class="cartFooter">
                <h3>Total price: {{ total_price }}&euro;</h3>
                    <form action="{% url 'cart-checkout' %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-primary">Checkout</button>
                    </form>
            </div>
        {% else %}
            <p>You don't have any products in your cart yet.</p>
        {% endif %}
    </div>
{% endblock %}