{% extends 'ecommerce_app/base.html' %}

{% block head %}
    <title>Home</title>
{% endblock %}

{% block content %}
    <div class="products_intro" id="productsIntro">
        <button id="productsIntroButton"><a href="{% url 'products' %}">View all products</a></button>
    </div>
    <div class="mwk_intro">
        <div class="womenProducts" id="womenProducts">
            <button id="womenButton"><a href="{% url 'products' %}?gender=women">Women</a></button>
        </div>
        <div class="menProducts" id="menProducts">
            <button id="menButton"><a href="{% url 'products' %}?gender=men">Men</a></button>
        </div>
        <div class="kidsProducts" id="kidsProducts">
            <button id="kidsButton"><a href="{% url 'products' %}?gender=kids">Kids</a></button>
        </div>
    </div>
    <div class="page_content">
        
    </div>
{% endblock %}