{% extends 'ecommerce_app/base.html' %}

{% block head %}
    <title>Home</title>
{% endblock %}

{% block content %}
    <h2>Welcome to our store</h2>
    <hr>
    <h3>Products</h3>
    {% if request.user.is_authenticated and request.user.id == request.user.userprofile.business.owner.id %}
        <a href="{% url 'create-product' %}"><input type="button" value="Create Product"></a>
    {% endif %}
    <ul>
        {% for product in products %}
            <li>
                <h4>{{ product.name }}</h4>
                <p>{{ product.description }}</p>
                <p>{{ product.price }}</p>
                <p>Sold by {{ product.business }}</p>
                <form action="{% url 'create-checkout-session' product.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit">Checkout</button>
                </form>
                <a href="{% url 'add-to-wishlist' product.id %}"><input type="button" value="Add to wishlist"></a>
                <a href="{% url 'add-to-cart' product.id %}"><input type="button" value="Add to cart"></a>
            </li>
        {% endfor %}
    </ul>
    <hr>

    {% if messages %}
        {% for message in messages %}
            <script>
                alert('{{ message }}')
            </script>
        {% endfor %}
    {% endif %}
{% endblock %}