{% extends 'ecommerce_app/base.html' %}

{% block head %}
    <title>Products</title>
{% endblock %}

{% block content %}
    <div class="products_bg"></div>
    <div class="page_content">
        <h1>Products</h1>
        {% if request.user.is_authenticated and request.user.id == request.user.userprofile.business.owner.id %}
            <a href="{% url 'create-product' %}"><input type="button" value="Create Product"></a>
        {% endif %}
        <br>
        <div class="productView">
            {% for product in products %}
            <div class="productCard" id="productCard" onclick="window.location.href='{% url 'product_detail' product.id %}'">
                <div class="cardImage">
                    <img src="{{ product.image }}" alt="">
                </div>
                <div class="cardInfo">
                    <h5>{{ product.name }}</h5>
                    <p>{{ product.shortened_description }}</p>
                </div>
                <div class="cardFooter">
                    <h5>{{ product.price }}&euro;</h5>
                    <div class="cardActions">
                        {% if product in request.user.userprofile.wishlist.all %}
                            <a href="{% url 'toggleWishlist' product.id %}"><i class="fa-solid fa-heart wishlistIcon"></i></a>
                        {% else %}
                            <a href="{% url 'toggleWishlist' product.id %}"><i class="fa-regular fa-heart wishlistIcon regularWishlistIcon"></i></a>
                        {% endif %}
                        <a href="{% url 'add-to-cart' product.id %}"><i class="fa-solid fa-cart-arrow-down"></i></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block script %}
    {% if messages %}
        {% for message in messages %}
            <script>
                alert('{{ message }}')
            </script>
        {% endfor %}
    {% endif %}
{% endblock %}